# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Depreciated Files
old-files/
old-stakeholder-polling/
old-old-stakeholder-polling/
old-poli-insight
images

# Python
__pycache__/
*.pyc
stakeholder-polling/database/*.sqlite
stakeholder-polling/database/*.sqlite-*
stakeholder-polling/exports/
stakeholder-polling/logs/
